body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.header {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header h1 {
    margin: 0;
    font-size: 24px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}
.result-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 800px;
    margin: 0 20px;
    flex: 1;
}
.result-container textarea {
    width: 100%;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.result-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.result-container button:hover {
    background-color: #0056b3;
}
.result {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 11px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.result.success {
    background-color: #d4edda;
    color: #155724;
}
.found-drugs {
    margin-left: 20px;
    flex: 1;
    max-width: 300px;
}
.drug-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.drug-item {
    background-color: #e9ecef;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.main-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.main-btn:hover {
    background-color: #0056b3;
}
